.banner-principal-decorativo
  &-1
    animation: float1 3.8s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 76%
  &-2
    width: 92px
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 57%
    right: 16%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px) 
.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 400px !important  
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/mini-portada.png") !important
  background-repeat: no-repeat


.fa-lista
  li
    display: flex !important
  li:before
    position: relative
    margin-right: 7px
    font-size: 1.4rem 
.lista-ul--color.color-primario li > i:first-of-type  
  color: $color-primario
.lista-ul--color.color-secundario li > i:first-of-type  
  color: $color-secundario       
.lista-ol--cuadro.color-primario .lista-ol--cuadro__vineta
  background-color: $color-primario
.bg-color-acento-contenido
  background-color: $color-acento-contenido
.w-fit
  width: fit-content


.bg1
  background-color: #FAFDE4  
.bg2
  background-color: #E4F1FD  
.bg3
  background-color: #F2F8FE  
.bgc-1
  background-image: url('../assets/curso/temas/intro/bg1.png')
  background-position: top
  background-size: 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.bgc-2
  background-image: url('../assets/curso/temas/t2/back.png')
  background-position: top center
  background-size: 100% 450px
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
 

.subt
  background-color: #EDECF4
  border-radius: 200px
  width: fit-content
  padding: 5px
  position: relative
  .ico
    position: relative
    &:before
      content: ""
      background-color: #FFF 
      display: block
      position: absolute
      width: 140%
      height: 200%
      top: -48%
      left: -12%
      border-bottom-right-radius: 40px
      @media screen and (max-width: 767px)
        top: -100%
        height: 280%
    img
      position: relative
.w-80
  width: 80px
.w-90
  width: 90px
.subt-2
  background-color: #EDECF4
  width: fit-content
  position: relative
  &::before
    content: ""
    position: absolute
    background-color: #6293C4
    width: 90%
    height: 4px
    top: -3px
    left: 5%
  &::after
    content: ""
    position: absolute
    background-color: #A4A1C5
    width: 90%
    height: 4px
    bottom: -3px
    left: 5%
.bg-sub
  position: relative
  &::before
    content: ""
    position: absolute
    background-color: #F2F8FE
    width: 45%
    height: 100%
    top: 0
    right: -5%
    z-index: 0
  img
    position: 
    z-index: 999  
.bx-shadow
  box-shadow: 0px 3px 8px rgba(15, 31, 52, 0.24)  


.circl-arrow .slyder-f__btn i
  font-size: 1.2rem
  background-color: $color-acento-botones
  height: 46px
  width: 46px
  padding: 5px
  border-radius: 500px
  display: flex
  justify-content: center
  align-items: center
.shadow-tarj .tarjeta
  box-shadow: 0px 3px 8px rgba(15, 31, 52, 0.24)
  margin: 5px
  height: 94%

.tabs-a__tab
  background-color: #A4A1C5
.t3-tabs .tabs-a__tab__text 
  overflow: visible
  text-overflow: initial
  white-space: break-spaces

.acordion__accion__btn--a
  background-color: #F5827A !important
  transition: all 0.3s ease-out
.acordion__activo
  background-color: #FAFDE4 !important
  transition: all 0.3s ease-out
.acordion .tarjeta
  padding-top: 10px !important
  margin-bottom: 10px !important
  .acordion__header
    margin-bottom: 10px !important